.wrapper {
  padding: 10%;
  text-align: center;

}

.btn {
  padding: 10px 30px;
  margin: 10px;
  border: none;
  outline: none;
  background-color: blueviolet;
  color: aliceblue;
  cursor: pointer;
}

.btn:hover {
  background-color: red;
}